.burgermenu {
  position: fixed;
  z-index: 2000;

 
  left: -100%;
  top: 0;

  width: 100%;
  // max-width: 300px;
  height: 100%;

  padding: 20px 44px 0px 44px;
  opacity: 0;

  background: #FFD84E;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

  overflow-y: auto;
  transition: 1.5s ease;

  &.active {
    left: 0;
    opacity: 1;
  }

  .menu-top {
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }

  .menu-logo {

    img {
      height: 66px;
      width: 47px;
    }
  }

  .burgermenu-close-block {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .burgermenu-close {
    cursor: pointer;


    width: 14px;
    height: 14px;

    .icon.close {
      width: 100%;
      height: 100%;

      background: gray;

      -webkit-mask: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5303 1.53033C13.8232 1.23744 13.8232 0.762563 13.5303 0.46967C13.2374 0.176777 12.7626 0.176777 12.4697 0.46967L7 5.93934L1.53033 0.46967C1.23744 0.176777 0.762563 0.176777 0.46967 0.46967C0.176777 0.762563 0.176777 1.23744 0.46967 1.53033L5.93934 7L0.46967 12.4697C0.176777 12.7626 0.176777 13.2374 0.46967 13.5303C0.762563 13.8232 1.23744 13.8232 1.53033 13.5303L7 8.06066L12.4697 13.5303C12.7626 13.8232 13.2374 13.8232 13.5303 13.5303C13.8232 13.2374 13.8232 12.7626 13.5303 12.4697L8.06066 7L13.5303 1.53033ZM8.06066 7L7 5.93934L5.93934 7L7 8.06066L8.06066 7Z' fill='%23171717'/%3E%3Cpath d='M8.06066 7L7 5.93934L5.93934 7L7 8.06066L8.06066 7Z' fill='%23171717'/%3E%3C/svg%3E%0A");
      -webkit-mask-size: contain;
      -webkit-mask-position: center;
      -webkit-mask-repeat: no-repeat;

      transition: 0.2s ease;
    }

    &:hover {
      .icon.close {
        background: red;
      }
    }
  }

  .menu-block {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0px;
    }
    

    
      .menu-link {

        a {
          font-family: 'Inter';
          font-size: 40px;
          line-height: 48px;
          font-weight: 600;
          color: #1E293B;
          padding-bottom: 3px;
          padding: 0;
          margin: 0;
          text-decoration: none;
          transition: all 750ms cubic-bezier(0.285, 0.105, 0.465, 1.015);
          cursor: pointer;
          // &:hover{
          //   transform: scale(1.2);
          // }
        }

        a:after {
          background-color: black;
          display: block;
          content: "";
          height: 3px;
          width: 0%;
          -webkit-transition: width .3s ease-in-out;
          -moz--transition: width .3s ease-in-out;
          transition: width .3s ease-in-out;
        }

        a:hover:after,
        a:focus:after {
          width: 100%;
        }
      }
    



    // ul.nav {
    //   text-align: center;

    //   li.nav-item {
    //     a.nav-link {
          // font-family: 'Inter';
          // font-size: 40px;
          // line-height: 48px;
          // font-weight: 600;
          // color: #1E293B;
          // padding: 0;
          // margin: 0;

    //       transition: 0.2s ease;

    //       &:after {
    //         background-color: black;
    //         display: block;
    //         content: "";
    //         height: 3px;
    //         width: 0%;
    //         -webkit-transition: width .3s ease-in-out;
    //         -moz--transition: width .3s ease-in-out;
    //         transition: width .3s ease-in-out;
    //       }

    //       &:hover:after,
    //       &:focus:after {
    //           width: 100%;
    //       }

    //       &.active {
    //         color: white;
    //         ;
    //       }
    //     }
    //   }
    // }

  }

  ul.nav.flex-column {
    li.nav-item {

      &:first-child {
        a.nav-link {
          padding-top: 0;
        }
      }

      a.nav-link {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0px;
        }
      }

    }
  }

  .menu-bottom {
    bottom: 60px;
    left: 0;
    position: absolute;
    width: 100%;


    .content {
      display: flex;
      justify-content: center;

      .link-block {
        padding-right: 50px;

        a {
          font-size: 14px;
          font-weight: 300;
          line-height: 17px;
          color: #1E293B;
          text-decoration: none;
          padding-bottom: 0;
          margin: 0;
          transition: all 750ms cubic-bezier(0.285, 0.105, 0.465, 1.015);
          cursor: pointer;
          // &:hover{
          //   transform: scale(1.2);
          // }
        }

        a:after {
          background-color: black;
          display: block;
          content: "";
          height: 1px;
          width: 0%;
          -webkit-transition: width .3s ease-in-out;
          -moz--transition: width .3s ease-in-out;
          transition: width .3s ease-in-out;
        }

        a:hover:after,
        a:focus:after {
          width: 100%;
        }

        &:last-child {
          padding-right: 0px;
        }

      }
    }
  }
  
  .menu-bottom-mobile{
    display: none;
  }

}

// .burgermenu-overlay {
//   display: none;

//   position: fixed;
//   z-index: 98;

//   top: 0;
//   left: 0;

//   width: 100%;
//   height: 100%;

//   background: rgba(0, 0, 0, 0.5);
// }

@media screen and (min-width: 320px) and (max-width: 479px) {

  .burgermenu {
  
    .menu-top {
      height: 70px;
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }
  
    .menu-logo {
  
      img {
        height: 48px;
        width: 35px;
      }
    }
  
    .burgermenu-close-block {
      display: flex;
      justify-content: right;
      align-items: center;
    }
  
    .burgermenu-close {
      cursor: pointer;
  
  
      width: 18px;
      height: 18px;
  
      .icon.close {
        width: 100%;
        height: 100%;
  
        background: gray;
  
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5303 1.53033C13.8232 1.23744 13.8232 0.762563 13.5303 0.46967C13.2374 0.176777 12.7626 0.176777 12.4697 0.46967L7 5.93934L1.53033 0.46967C1.23744 0.176777 0.762563 0.176777 0.46967 0.46967C0.176777 0.762563 0.176777 1.23744 0.46967 1.53033L5.93934 7L0.46967 12.4697C0.176777 12.7626 0.176777 13.2374 0.46967 13.5303C0.762563 13.8232 1.23744 13.8232 1.53033 13.5303L7 8.06066L12.4697 13.5303C12.7626 13.8232 13.2374 13.8232 13.5303 13.5303C13.8232 13.2374 13.8232 12.7626 13.5303 12.4697L8.06066 7L13.5303 1.53033ZM8.06066 7L7 5.93934L5.93934 7L7 8.06066L8.06066 7Z' fill='%23171717'/%3E%3Cpath d='M8.06066 7L7 5.93934L5.93934 7L7 8.06066L8.06066 7Z' fill='%23171717'/%3E%3C/svg%3E%0A");
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
  
        transition: 0.2s ease;
      }
  
      &:hover {
        .icon.close {
          background: red;
        }
      }
    }
  
    .menu-block {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 20px;
  
      &:last-child{
        margin-bottom: 0px;
      }
      
  
      
        .menu-link {
  
          a {
            font-family: 'Inter';
            font-size: 28px;
            line-height: 33px;
            font-weight: 600;
            color: #1E293B;
            padding-bottom: 3px;
            padding: 0;
            margin: 0;
            text-decoration: none;
            transition: all 750ms cubic-bezier(0.285, 0.105, 0.465, 1.015);
            cursor: pointer;
            // &:hover{
            //   transform: scale(1.2);
            // }
          }
  
          a:after {
            background-color: black;
            display: block;
            content: "";
            height: 3px;
            width: 0%;
            -webkit-transition: width .3s ease-in-out;
            -moz--transition: width .3s ease-in-out;
            transition: width .3s ease-in-out;
          }
  
          a:hover:after,
          a:focus:after {
            width: 100%;
          }
        }
  
    }
  
    ul.nav.flex-column {
      li.nav-item {
  
        &:first-child {
          a.nav-link {
            padding-top: 0;
          }
        }
  
        a.nav-link {
          margin-bottom: 30px;
  
          &:last-child {
            margin-bottom: 0px;
          }
        }
  
      }
    }
  
    .menu-bottom {
      display: none;
    }

    .menu-bottom-mobile {
      bottom: 30px;
      left: 0;
      position: absolute;
      width: 100%;
      display: block;
  
  
      .content {
        display: flex;
        justify-content: center;
        text-align: center;
  
        .link-block {
          padding-right: 0px;
  
          a {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: #1E293B;
            text-decoration: none;
            padding-bottom: 0;
            margin: 0;

          }
  
          &:last-child {
            padding-right: 0px;
          }

          &:first-child{
            margin-bottom: 20px;
          }
  
        }
      }
    }
  
  }

}

@media screen and (min-width: 480px) and (max-width: 767px) {

  .burgermenu {
  
    .menu-top {
      height: 70px;
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }
  
    .menu-logo {
  
      img {
        height: 48px;
        width: 35px;
      }
    }
  
    .burgermenu-close-block {
      display: flex;
      justify-content: right;
      align-items: center;
    }
  
    .burgermenu-close {
      cursor: pointer;
  
  
      width: 18px;
      height: 18px;
  
      .icon.close {
        width: 100%;
        height: 100%;
  
        background: gray;
  
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5303 1.53033C13.8232 1.23744 13.8232 0.762563 13.5303 0.46967C13.2374 0.176777 12.7626 0.176777 12.4697 0.46967L7 5.93934L1.53033 0.46967C1.23744 0.176777 0.762563 0.176777 0.46967 0.46967C0.176777 0.762563 0.176777 1.23744 0.46967 1.53033L5.93934 7L0.46967 12.4697C0.176777 12.7626 0.176777 13.2374 0.46967 13.5303C0.762563 13.8232 1.23744 13.8232 1.53033 13.5303L7 8.06066L12.4697 13.5303C12.7626 13.8232 13.2374 13.8232 13.5303 13.5303C13.8232 13.2374 13.8232 12.7626 13.5303 12.4697L8.06066 7L13.5303 1.53033ZM8.06066 7L7 5.93934L5.93934 7L7 8.06066L8.06066 7Z' fill='%23171717'/%3E%3Cpath d='M8.06066 7L7 5.93934L5.93934 7L7 8.06066L8.06066 7Z' fill='%23171717'/%3E%3C/svg%3E%0A");
        -webkit-mask-size: contain;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
  
        transition: 0.2s ease;
      }
  
      &:hover {
        .icon.close {
          background: red;
        }
      }
    }
  
    .menu-block {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 20px;
  
      &:last-child{
        margin-bottom: 0px;
      }
      
  
      
        .menu-link {
  
          a {
            font-family: 'Inter';
            font-size: 28px;
            line-height: 33px;
            font-weight: 600;
            color: #1E293B;
            padding-bottom: 3px;
            padding: 0;
            margin: 0;
            text-decoration: none;
            transition: all 750ms cubic-bezier(0.285, 0.105, 0.465, 1.015);
            cursor: pointer;
            // &:hover{
            //   transform: scale(1.2);
            // }
          }
  
          a:after {
            background-color: black;
            display: block;
            content: "";
            height: 3px;
            width: 0%;
            -webkit-transition: width .3s ease-in-out;
            -moz--transition: width .3s ease-in-out;
            transition: width .3s ease-in-out;
          }
  
          a:hover:after,
          a:focus:after {
            width: 100%;
          }
        }
  
    }
  
    ul.nav.flex-column {
      li.nav-item {
  
        &:first-child {
          a.nav-link {
            padding-top: 0;
          }
        }
  
        a.nav-link {
          margin-bottom: 30px;
  
          &:last-child {
            margin-bottom: 0px;
          }
        }
  
      }
    }
  
    .menu-bottom {
      display: none;
    }

    .menu-bottom-mobile {
      bottom: 30px;
      left: 0;
      position: absolute;
      width: 100%;
      display: block;
  
  
      .content {
        display: flex;
        justify-content: center;
        text-align: center;
  
        .link-block {
          padding-right: 0px;
  
          a {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: #1E293B;
            text-decoration: none;
            padding-bottom: 0;
            margin: 0;

          }
  
          &:last-child {
            padding-right: 0px;
          }

          &:first-child{
            margin-bottom: 20px;
          }
  
        }
      }
    }
  
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 1024px) and (max-width: 1199px) {}

@media screen and (min-width: 1200px) and (max-width: 1480px) {}