header {
  padding: 20px 44px 0px 44px;
  background-color: #F8F9F9;
  

  .logo {

    img {
      height: 65px;
      width: 46px;
    }

  }

  .litle-menu{
    ul{
      display: flex;
      justify-content: end;

      li{
        padding-right: 32px;
        list-style-type: none;
        a{
          text-decoration: none;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          color: #171717;
        }
      }
    }
  }

  .navigation__checkbox {
      display: none;
  }

  .navigation__button {
      position: fixed;
      top: 1.75rem;
      right: 1.5rem;
      height: 32px;
      width: 32px;
      text-align: center;
      background-color: #F8F9F9;
      border-radius: 50%;
      z-index: 3000;
      // box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
  }

  .navigation__background {
      position: fixed;
      top: 1.9rem;
      right: 1.8rem;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: #FFD84E;
      background-size: cover;
      background-position: center;
      z-index: 2900;
      transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
  }

  .navigation__nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      opacity: 0;
      width: 0;
      visibility: hidden;
      z-index: 2999;
      transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navigation__list {
      position: absolute;
      text-align: center;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
  }

  .navigation__item {
      margin: 0rem;
      padding-top: 32px;
  }

  .navigation__link:link,
  .navigation__link:visited {
      display: inline-block;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      color: #1E293B;
      font-size: 40px;
      font-size: 600;
      font-family: 'Inter';
      line-height: 48px;
      text-decoration: none;
      transition: all .2s;
      cursor: pointer;
      position: relative;
  }

  .navigation__link:after {
    display: block;
    position: absolute;
    left: 0; 
    width: 0;
    height: 3px; 
    background-color: #1E293B; 
    content: "";
    transition: width 0.3s ease-out; 
  }

  .navigation__link:hover:after,
  .navigation__link:focus:after {
    width: 100%;
  }

  // .navigation__link:hover {
  //     color: #fff;
  //     transform: scale(1.1);
  // }

  .navigation__checkbox:checked~.navigation__background {
      transform: scale(210)
  }

  .navigation__checkbox:checked~.navigation__nav {
      width: 100%;
      visibility: visible;
      opacity: 1;
  }

  .navigation__icon {

      position: absolute;
      top: 1rem;
      right: 0.33rem;
  }

  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
      display: inline-block;
      width: 20px;
      height: 1px;
      background-color: #4A676A;
  }

  .navigation__icon::before,
  .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 200ms;
  }

  .navigation__icon::before {
      top: -.4rem;
  }

  .navigation__icon::after {
      top: .4rem;
  }

  // .navigation__button:hover .navigation__icon::before {
  //     top: -0.5rem;
  // }

  // .navigation__button:hover .navigation__icon::after {
  //     top: 0.5rem;
  // }

  .navigation__checkbox:checked+.navigation__button .navigation__icon {
      background-color: transparent;
  }

  .navigation__checkbox:checked+.navigation__button .navigation__icon::before {
      top: 0;
      transform: rotate(135deg);
  }

  .navigation__checkbox:checked+.navigation__button .navigation__icon::after {
      top: 0;
      transform: rotate(-135deg);
  }

  /*-----------------------*/
  #by {
    font-family: 'Arima Madurai', cursive;
    color: #4A676A;
    font-size: 10px;
    position: absolute;
    top: 22%;
    right: 2.5%; 
  }

  .logo-menu{
    padding-top: 1.75rem;
    padding-left: 1.5rem;
    img{
      width: 47px;
      height: 66px;
    }
  }

  .bottom-menu{
    position: absolute;
    bottom: 80px;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;

    .menu-section{
      display: flex;

      .social-block{
        
        a{
          margin-right: 48px;
          font-size: 14px;
          line-height: 16px;
          font-weight: 300;
          font-family: 'Inter';
          text-decoration: none;
          color: #1E293B;
          cursor: pointer;
          position: relative;
        }

        a:after {
          display: block;
          position: absolute;
          left: 0; 
          width: 0;
          height: 2px; 
          background-color: #1E293B; 
          content: "";
          transition: width 0.3s ease-out; 
        }
      
        a:hover:after,
        a:focus:after {
          width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
        }
      }

      .last{
        padding-right: 0 !important;
      }


    }
  }

}

@media screen and (min-width: 320px) and (max-width: 479.98px) {

  header {
    padding: 20px 44px 0px 44px;
    background-color: #F8F9F9;
  
    .logo {
  
      img {
        height: 47px;
        width: 34px;
      }
  
    }
  
    .litle-menu{
      padding-top: 10px;
      ul{
        display: flex;
        justify-content: end;
  
        li{
          padding-right: 32px;
          list-style-type: none;
          a{
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #171717;
          }
        }
      }
    }

    .navigation__list {
      position: absolute;
      text-align: center;
      width: 100%;
      list-style: none;
      margin: 0;
      padding-top: 20px;
    }

    .navigation__link:link,
    .navigation__link:visited {
        display: inline-block;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        color: #1E293B;
        font-size: 28px;
        font-size: 600;
        font-family: 'Inter';
        line-height: 34px;
        text-decoration: none;
        transition: all .2s;
    }
  
    .logo-menu{
      padding-top: 1.75rem;
      padding-left: 1.5rem;
      img{
        width: 47px;
        height: 66px;
      }
    }
  
    .bottom-menu{
      position: absolute;
      bottom: 40px;
      left: 0;
      display: flex;
      width: 100%;
      justify-content: center;
  
      .menu-section{
        display: block;
  
        .social-block{
          padding-right: 40px;
          text-align: center;
          a{
            margin-right: 0;
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            font-family: 'Inter';
            text-decoration: none;
            color: #1E293B;
          }
          
        }

        &:last-child{
          .social-block{
            padding-right: 0;
          }
        }
        
        .mp{
          padding-top: 32px;
        }
  
        .last{
          padding-right: 0 !important;
        }
  
  
      }
    }
  
  }

}

@media screen and (min-width: 480px) and (max-width: 767.98px) {

  header {
    padding: 20px 44px 0px 44px;
    background-color: #F8F9F9;
  
    .logo {
  
      img {
        height: 47px;
        width: 34px;
      }
  
    }
  
    .litle-menu{
      padding-top: 10px;
      ul{
        display: flex;
        justify-content: end;
  
        li{
          padding-right: 32px;
          list-style-type: none;
          a{
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #171717;
          }
        }
      }
    }

    .navigation__list {
      position: absolute;
      text-align: center;
      width: 100%;
      list-style: none;
      margin: 0;
      padding-top: 20px;
    }

    .navigation__link:link,
    .navigation__link:visited {
        display: inline-block;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        color: #1E293B;
        font-size: 28px;
        font-size: 600;
        font-family: 'Inter';
        line-height: 34px;
        text-decoration: none;
        transition: all .2s;
    }
  
    .logo-menu{
      padding-top: 1.75rem;
      padding-left: 1.5rem;
      img{
        width: 47px;
        height: 66px;
      }
    }
  
    .bottom-menu{
      position: absolute;
      bottom: 40px;
      left: 0;
      display: flex;
      width: 100%;
      justify-content: center;
  
      .menu-section{
        display: block;
  
        .social-block{
          padding-right: 40px;
          text-align: center;
          a{
            margin-right: 0;
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            font-family: 'Inter';
            text-decoration: none;
            color: #1E293B;
          }
          
        }

        &:last-child{
          .social-block{
            padding-right: 0;
          }
        }
        
        .mp{
          padding-top: 32px;
        }
  
        .last{
          padding-right: 0 !important;
        }
  
  
      }
    }
  
  }

}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {

  header {
    padding: 20px 44px 0px 44px;
    background-color: #F8F9F9;
  
    .logo {
  
      img {
        height: 65px;
        width: 46px;
      }
  
    }
  
    .litle-menu{
      ul{
        display: flex;
        justify-content: end;
  
        li{
          padding-right: 32px;
          list-style-type: none;
          a{
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #171717;
          }
        }
      }
    }
  
    .navigation__checkbox {
        display: none;
    }
  
    .navigation__button {
        position: fixed;
        top: 1.75rem;
        right: 1.5rem;
        height: 32px;
        width: 32px;
        text-align: center;
        background-color: #F8F9F9;
        border-radius: 50%;
        z-index: 3000;
        // box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
  
    .navigation__background {
        position: fixed;
        top: 1.9rem;
        right: 1.8rem;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #FFD84E;
        background-size: cover;
        background-position: center;
        z-index: 2900;
        transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
    }
  
    .navigation__nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        opacity: 0;
        width: 0;
        visibility: hidden;
        z-index: 2999;
        transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .navigation__list {
        position: absolute;
        text-align: center;
        width: 100%;
        list-style: none;
        margin-top: 40px;
        padding: 0;
    }
  
    .navigation__item {
        margin: 0rem;
        padding-top: 32px;
    }
  
    .navigation__link:link,
    .navigation__link:visited {
        display: inline-block;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        color: #1E293B;
        font-size: 40px;
        font-size: 600;
        font-family: 'Inter';
        line-height: 48px;
        text-decoration: none;
        transition: all .2s;
        cursor: pointer;
        position: relative;
    }
  
    .navigation__link:after {
      display: block;
      position: absolute;
      left: 0; 
      width: 0;
      height: 3px; 
      background-color: #1E293B; 
      content: "";
      transition: width 0.3s ease-out; 
    }
  
    .navigation__link:hover:after,
    .navigation__link:focus:after {
      width: 100%;
    }
  
    // .navigation__link:hover {
    //     color: #fff;
    //     transform: scale(1.1);
    // }
  
    .navigation__checkbox:checked~.navigation__background {
        transform: scale(210)
    }
  
    .navigation__checkbox:checked~.navigation__nav {
        width: 100%;
        visibility: visible;
        opacity: 1;
    }
  
    .navigation__icon {
  
        position: absolute;
        top: 1rem;
        right: 0.33rem;
    }
  
    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
        display: inline-block;
        width: 20px;
        height: 1px;
        background-color: #4A676A;
    }
  
    .navigation__icon::before,
    .navigation__icon::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 200ms;
    }
  
    .navigation__icon::before {
        top: -.4rem;
    }
  
    .navigation__icon::after {
        top: .4rem;
    }
  
    // .navigation__button:hover .navigation__icon::before {
    //     top: -0.5rem;
    // }
  
    // .navigation__button:hover .navigation__icon::after {
    //     top: 0.5rem;
    // }
  
    .navigation__checkbox:checked+.navigation__button .navigation__icon {
        background-color: transparent;
    }
  
    .navigation__checkbox:checked+.navigation__button .navigation__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
  
    .navigation__checkbox:checked+.navigation__button .navigation__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
  
    /*-----------------------*/
    #by {
      font-family: 'Arima Madurai', cursive;
      color: #4A676A;
      font-size: 10px;
      position: absolute;
      top: 22%;
      right: 2.5%; 
    }
  
    .logo-menu{
      padding-top: 1.75rem;
      padding-left: 1.5rem;
      img{
        width: 47px;
        height: 66px;
      }
    }
  
    .bottom-menu{
      position: absolute;
      bottom: 80px;
      left: 0;
      display: flex;
      width: 100%;
      justify-content: center;
  
      .menu-section{
        display: flex;
  
        .social-block{
          
          a{
            margin-right: 48px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 300;
            font-family: 'Inter';
            text-decoration: none;
            color: #1E293B;
            cursor: pointer;
            position: relative;
          }
  
          a:after {
            display: block;
            position: absolute;
            left: 0; 
            width: 0;
            height: 2px; 
            background-color: #1E293B; 
            content: "";
            transition: width 0.3s ease-out; 
          }
        
          a:hover:after,
          a:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
          }
        }
  
        .last{
          padding-right: 0 !important;
        }
  
  
      }
    }
  
  }

}

@media screen and (min-width: 1024px) and (max-width: 1199.98px) {}

@media screen and (min-width: 1200px) and (max-width: 1480.98px) {}

@media (min-width: 1481px) {}


