section.info-section{

    .row{
        &.center{
            display: flex;
            justify-content: center;
        }
    }

    .content{
        padding-bottom: 80px;
        .section-title{
            padding-bottom: 40px;
            h2{
                font-size: 32px;
                line-height: 38px;
                font-weight: 700;
                font-family: 'Inter';

                margin: 0;
                padding: 0;
            }
        }

        .section-description{
            p{
                font-size: 18px;
                line-height: 32px;
                font-weight: 400;
                font-family: 'Inter';

                margin: 0;
                padding: 0;
            }
        }
    }

    .img-section{
        .img-block{
            padding-bottom: 80px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}