section.fourths-section {

    .row {
        &.center {
            display: flex;
            justify-content: center;
        }
    }

    .numbers {
        display: flex;
        justify-content: center;
        text-align: center;

        .number {

            .title {
                padding-bottom: 10px;

                h2 {
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 58px;
                    font-family: 'Inter';

                    margin: 0;
                    padding: 0;
                }
            }

            .description {
                p {
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 700;
                    font-family: 'Inter';

                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    .feedback-p {
        padding-top: 80px;
        padding-bottom: 160px;

        .feedback-block {
            .section-description {
                padding-bottom: 40px;
                p {
                    font-size: 40px;
                    line-height: 64px;
                    font-weight: 400;
                    font-family: 'Inter';

                    margin: 0;
                    padding: 0;
                }
            }

            .content{
                display: flex;
                justify-content: left;
                align-items: center;

                .img-block{
                    padding-right: 20px;
                    img{
                        width: 64px;
                        height: 64px;
                    }
                }

                .title-and-info{
                    .title{
                        padding-bottom: 10px;
                        h3{
                            font-family: 'Inter';
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 28px;

                            margin: 0;
                            padding: 0;
                        }
                    }
                    .desc{
                        p{
                            font-family: 'Inter';
                            font-weight: 300;
                            font-size: 18px;
                            line-height: 22px;
                            color: #5D5D5D;

                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 320px) and (max-width: 479.98px) {

    section.fourths-section {

        .row {
            &.center {
                display: flex;
                justify-content: center;
            }
        }
    
        .numbers {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
    
            .number {
                padding-bottom: 50px;
    
                .title {
                    padding-bottom: 10px;
    
                    h2 {
                        font-weight: 800;
                        font-size: 40px;
                        line-height: 48px;
                        font-family: 'Inter';
    
                        margin: 0;
                        padding: 0;
                    }
                }
    
                .description {
                    p {
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 700;
                        font-family: 'Inter';
    
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    
        .feedback-p {
            padding-top: 30px;
            padding-bottom: 120px;
    
            .feedback-block {
                .section-description {
                    padding-bottom: 40px;
                    p {
                        font-size: 28px;
                        line-height: 44px;
                        font-weight: 400;
                        font-family: 'Inter';
    
                        margin: 0;
                        padding: 0;
                    }
                }
    
                .content{
                    display: flex;
                    justify-content: left;
                    align-items: center;
    
                    .img-block{
                        padding-right: 20px;
                        img{
                            width: 64px;
                            height: 64px;
                        }
                    }
    
                    .title-and-info{
                        .title{
                            padding-bottom: 10px;
                            h3{
                                font-family: 'Inter';
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 28px;
    
                                margin: 0;
                                padding: 0;
                            }
                        }
                        .desc{
                            p{
                                font-family: 'Inter';
                                font-weight: 300;
                                font-size: 18px;
                                line-height: 22px;
    
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    
    }

}

@media screen and (min-width: 480px) and (max-width: 767.98px) {

    section.fourths-section {

        .row {
            &.center {
                display: flex;
                justify-content: center;
            }
        }
    
        .numbers {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
    
            .number {
                padding-bottom: 50px;
    
                .title {
                    padding-bottom: 10px;
    
                    h2 {
                        font-weight: 800;
                        font-size: 40px;
                        line-height: 48px;
                        font-family: 'Inter';
    
                        margin: 0;
                        padding: 0;
                    }
                }
    
                .description {
                    p {
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 700;
                        font-family: 'Inter';
    
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    
        .feedback-p {
            padding-top: 30px;
            padding-bottom: 120px;
    
            .feedback-block {
                .section-description {
                    padding-bottom: 40px;
                    p {
                        font-size: 28px;
                        line-height: 44px;
                        font-weight: 400;
                        font-family: 'Inter';
    
                        margin: 0;
                        padding: 0;
                    }
                }
    
                .content{
                    display: flex;
                    justify-content: left;
                    align-items: center;
    
                    .img-block{
                        padding-right: 20px;
                        img{
                            width: 64px;
                            height: 64px;
                        }
                    }
    
                    .title-and-info{
                        .title{
                            padding-bottom: 10px;
                            h3{
                                font-family: 'Inter';
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 28px;
    
                                margin: 0;
                                padding: 0;
                            }
                        }
                        .desc{
                            p{
                                font-family: 'Inter';
                                font-weight: 300;
                                font-size: 18px;
                                line-height: 22px;
    
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    
    }

}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {

    section.fourths-section {

        .row {
            &.center {
                display: flex;
                justify-content: center;
            }
        }
    
        .numbers {
            display: flex;
            justify-content: center;
            text-align: center;
    
            .number {
    
                .title {
                    padding-bottom: 10px;
    
                    h2 {
                        font-weight: 800;
                        font-size: 48px;
                        line-height: 58px;
                        font-family: 'Inter';
    
                        margin: 0;
                        padding: 0;
                    }
                }
    
                .description {
                    p {
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 700;
                        font-family: 'Inter';
    
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    
        .feedback-p {
            padding-top: 80px;
            padding-bottom: 160px;
    
            .feedback-block {
                .section-description {
                    padding-bottom: 40px;
                    p {
                        font-size: 40px;
                        line-height: 64px;
                        font-weight: 400;
                        font-family: 'Inter';
    
                        margin: 0;
                        padding: 0;
                    }
                }
    
                .content{
                    display: flex;
                    justify-content: left;
                    align-items: center;
    
                    .img-block{
                        padding-right: 20px;
                        img{
                            width: 64px;
                            height: 64px;
                        }
                    }
    
                    .title-and-info{
                        .title{
                            padding-bottom: 10px;
                            h3{
                                font-family: 'Inter';
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 28px;
    
                                margin: 0;
                                padding: 0;
                            }
                        }
                        .desc{
                            p{
                                font-family: 'Inter';
                                font-weight: 300;
                                font-size: 18px;
                                line-height: 22px;
                                color: #5D5D5D;
    
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    
    }

}

@media screen and (min-width: 1024px) and (max-width: 1199.98px) {}

@media screen and (min-width: 1200px) and (max-width: 1480.98px) {}

@media (min-width: 1481px) { }