footer {
    position: absolute;

    top: calc(100% + 0px);
    left: 0;


    width: 100%;

    background: #171717;
    padding-top: 80px;
    padding-bottom: 50px;

    .fotter-main-content {

        height: 380px;
        margin-bottom: 150px;
        display: flex;
        justify-content: left;
        align-items: center;


        .fotter-main-title {

            margin-bottom: 20px;

            h1 {
                font-family: 'Inter';
                font-weight: 500;
                font-size: 80px;
                line-height: 96px;
                color: #F7F7F6;
            }
        }

        .fotter-main-description {
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                font-family: 'Inter', sans-serif;
                font-weight: 200;
                font-size: 80px;
                line-height: 96px;
                color: #F7F7F6;
                border-bottom: 1px solid white;
            }
        }

    }

    .footer-main-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 280px;
            height: 380px;
        }
    }


    .mail-block {
        margin-bottom: 30px;

        a {
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            text-decoration: none;
            color: white;
            font-family: 'Inter';
            padding-bottom: 4px;
            border-bottom: 1px solid #F7F7F6;
            ;
        }
    }

    .adress-block {

        p {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: rgba(247, 247, 246, 0.5);
            margin: 0;
        }
    }

    .privacy-block {
        margin-top: 20px;

        a {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #F7F7F6;
            text-decoration: none;
        }
    }


    .footer-nav {
        .title {
            margin-bottom: 15px;
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
            font-family: 'Inter';
            color: #F7F7F6;
        }

        .nav {
            ul {
                padding: 0;
                margin: 0;

                a {
                    text-decoration: none;
                    color: #171717;

                    li {
                        margin-bottom: 12px;
                        font-size: 18px;
                        line-height: 24px;
                        list-style-type: none;
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 16px;
                        color: rgba(247, 247, 246, 0.5);
                    }
                }
            }
        }
    }

    .footer-social {
        display: flex;
        justify-content: right;

        .title {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #F7F7F6;
            font-family: 'Inter';
        }

        .socials {
            display: flex;

            a {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0px;
                }

                .icon {
                    height: 22px;
                    width: 22px;

                    background: rgba(247, 247, 246, 0.5);


                    &:last-child {
                        margin-right: 0px;
                    }

                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.3);
                        background: rgba(247, 247, 246, 1);
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 320px) and (max-width: 479px) {

    footer {
        position: absolute;

        top: calc(100% + 0px);
        left: 0;


        width: 100%;

        background: #171717;
        padding-top: 80px;
        padding-bottom: 50px;

        .fotter-main-content {

            height: auto;
            margin-bottom: 80px;
            display: flex;
            justify-content: center;
            align-items: center;


            .fotter-main-title {

                margin-bottom: 20px;

                h1 {
                    font-family: 'Inter';
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 48px;
                    color: #F7F7F6;
                }
            }

            .fotter-main-description {
                display: flex;
                align-items: center;
                justify-content: center;

                h2 {
                    font-family: 'Inter', sans-serif;
                    font-weight: 200;
                    font-size: 40px;
                    line-height: 48px;
                    color: #F7F7F6;
                    border-bottom: 1px solid white;
                }
            }

        }

        .footer-main-logo {
            display: none;
        }

        .footer-section {
            text-align: center;
            margin-bottom: 40px;

            .mail-block {
                margin-bottom: 30px;

                a {
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 400;
                    text-decoration: none;
                    color: white;
                    font-family: 'Inter';
                    padding-bottom: 4px;
                    border-bottom: 1px solid #F7F7F6;
                    ;
                }
            }

            .adress-block {

                p {
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: rgba(247, 247, 246, 0.5);
                    margin: 0;
                }
            }

            .privacy-block {
                margin-top: 20px;

                a {
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: #F7F7F6;
                    text-decoration: none;
                }
            }
        }

        .footer-nav {
            display: none;
        }

        .footer-social {
            display: flex;
            justify-content: center;

            .title {
                display: none;
            }
        }

    }

}

@media screen and (min-width: 480px) and (max-width: 767px) {

    footer {
        position: absolute;

        top: calc(100% + 0px);
        left: 0;


        width: 100%;

        background: #171717;
        padding-top: 80px;
        padding-bottom: 50px;

        .fotter-main-content {

            height: auto;
            margin-bottom: 80px;
            display: flex;
            justify-content: center;
            align-items: center;


            .fotter-main-title {

                margin-bottom: 20px;

                h1 {
                    font-family: 'Inter';
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 48px;
                    color: #F7F7F6;
                }
            }

            .fotter-main-description {
                display: flex;
                align-items: center;
                justify-content: center;

                h2 {
                    font-family: 'Inter', sans-serif;
                    font-weight: 200;
                    font-size: 40px;
                    line-height: 48px;
                    color: #F7F7F6;
                    border-bottom: 1px solid white;
                }
            }

        }

        .footer-main-logo {
            display: none;
        }

        .footer-section {
            text-align: center;
            margin-bottom: 40px;

            .mail-block {
                margin-bottom: 30px;

                a {
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 400;
                    text-decoration: none;
                    color: white;
                    font-family: 'Inter';
                    padding-bottom: 4px;
                    border-bottom: 1px solid #F7F7F6;
                    ;
                }
            }

            .adress-block {

                p {
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: rgba(247, 247, 246, 0.5);
                    margin: 0;
                }
            }

            .privacy-block {
                margin-top: 20px;

                a {
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: #F7F7F6;
                    text-decoration: none;
                }
            }
        }

        .footer-nav {
            display: none;
        }

        .footer-social {
            display: flex;
            justify-content: center;

            .title {
                display: none;
            }
        }

    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {}

@media screen and (min-width: 1200px) and (max-width: 1480px) {}