.section.hero {

    .hero-block {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        background: #F8F9F9;

        .hero-content {
            width: 100%;


            .hero-title {
                display: flex;
                justify-content: center;
                align-items: center;


                margin-bottom: 30px;

                h1 {
                    font-family: 'Inter';
                    font-size: 90px;
                    font-weight: 700;
                    line-height: 117px;
                    text-align: center;

                    span {

                        &.yellow {
                            color: #FFD84E;
                        }
                    }
                }



            }

            .hero-description {
                display: flex;
                justify-content: center;
                align-items: center;

                // max-width: 620px;
                // max-height: 120px;

                p {
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 44px;
                    text-align: center;

                }
            }

            .hero-link {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 70px;

                opacity: 60%;

                .hero-a-mob {
                    display: none;
                }

                .hero-a {
                    

                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    line-height: 12px;
                    font-size: 10px;
                    text-decoration: none;
                    color: #171717;
                    font-family: 'Inter';
                    z-index: 1501;
                    writing-mode: vertical-rl;
                    animation: blink 4s infinite;
                    position: fixed;
                    top: 87vh;
                    height: 100%;

                    // background-color: black;
                    // filter: invert(100%);

                    .icon {
                        width: 8px;
                        height: 8px;

                        opacity: 60%;
                        margin-left: 1.5px;

                        margin-top: 10px;

                        align-self: flex-end;
                        animation-duration: 3s;
                        animation-iteration-count: infinite;
                        background-color: black;
                        transform-origin: bottom;
                    }

                    .anim {
                        animation-name: anim;
                        animation-timing-function: linear;
                    }
                    
                    @keyframes anim {
                        0%   { transform: translateY(0); }
                        50%  { transform: translateY(+15px); }
                        100% { transform: translateY(0); }
                    }

                }

                @keyframes blink {
                    0% {
                        opacity: 1;
                    }

                    5% {
                        opacity: 0.9;
                    }

                    10% {
                        opacity: 0.8;
                    }

                    15% {
                        opacity: 0.7;
                    }

                    20% {
                        opacity: 0.6;
                    }

                    25% {
                        opacity: 0.5;
                    }

                    30% {
                        opacity: 0.4;
                    }

                    35% {
                        opacity: 0.3;
                    }

                    40% {
                        opacity: 0.2;
                    }

                    45% {
                        opacity: 0.1;
                    }

                    50% {
                        opacity: 0;
                    }

                    55% {
                        opacity: 0.1;
                    }

                    60% {
                        opacity: 0.2;
                    }

                    65% {
                        opacity: 0.3;
                    }

                    70% {
                        opacity: 0.4;
                    }

                    75% {
                        opacity: 0.5;
                    }

                    80% {
                        opacity: 0.6;
                    }

                    85% {
                        opacity: 0.7;
                    }

                    90% {
                        opacity: 0.8;
                    }

                    90% {
                        opacity: 0.9;
                    }

                    100% {
                        opacity: 1;
                    }
                }

            }


        }

    }
}

@media screen and (min-width: 320px) and (max-width: 479.98px) {

    .section.hero {

        .hero-block {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            background: #F8F9F9;

            .hero-content {
                height: 100%;
                position: relative;
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;


                .hero-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    // max-width: 900px;
                    // max-height: 350px;

                    margin-bottom: 30px;

                    h1 {
                        font-family: 'Inter';
                        font-size: 36px;
                        font-weight: 700;
                        line-height: 50px;
                        text-align: center;

                        span {

                            &.yellow {
                                color: #FFD84E;
                            }
                        }
                    }



                }

                .hero-description {
                    display: flex;
                    justify-content: center;


                    // max-width: 620px;
                    // max-height: 120px;

                    p {
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 32px;
                        text-align: center;

                    }
                }

                .hero-link {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;

                    animation: hero-link 3.5s linear infinite;

                    opacity: 60%;
                    

                    .hero-a {
                        display: none;
                    }

                    .hero-a-mob {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 400;
                        line-height: 12px;
                        font-size: 10px;
                        text-decoration: none;
                        color: #171717;
                        font-family: 'Inter';
                        writing-mode: vertical-rl;

                        margin-top: 50px;

                        position:absolute;
                        bottom: 20px;

                        .icon {
                            width: 8px;
                            height: 8px;

                            margin-left: 1.5px;

                            margin-top: 10px;
    
                            align-self: flex-end;
                            animation-duration: 3.5s;
                            animation-iteration-count: infinite;
                            background-color: black;
                            transform-origin: bottom;
                        }
    
                        .anim {
                            animation-name: anim;
                            animation-timing-function: linear;
                        }
                        
                        @keyframes anim {
                            0%   { transform: translateY(0); }
                            50%  { transform: translateY(+15px); }
                            100% { transform: translateY(0); }
                        }
                    }

                    @keyframes hero-link {
                        0% {
                            opacity: 1;
                        }

                        5% {
                            opacity: 0.9;
                        }

                        10% {
                            opacity: 0.8;
                        }

                        15% {
                            opacity: 0.7;
                        }

                        20% {
                            opacity: 0.6;
                        }

                        25% {
                            opacity: 0.5;
                        }

                        30% {
                            opacity: 0.4;
                        }

                        35% {
                            opacity: 0.3;
                        }

                        40% {
                            opacity: 0.2;
                        }

                        45% {
                            opacity: 0.1;
                        }

                        50% {
                            opacity: 0;
                        }

                        55% {
                            opacity: 0.1;
                        }

                        60% {
                            opacity: 0.2;
                        }

                        65% {
                            opacity: 0.3;
                        }

                        70% {
                            opacity: 0.4;
                        }

                        75% {
                            opacity: 0.5;
                        }

                        80% {
                            opacity: 0.6;
                        }

                        85% {
                            opacity: 0.7;
                        }

                        90% {
                            opacity: 0.8;
                        }

                        90% {
                            opacity: 0.9;
                        }

                        100% {
                            opacity: 1;
                        }
                    }

                }


            }

        }
    }

}

@media screen and (min-width: 480px) and (max-width: 767.98px) {

    .section.hero {

        .hero-block {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            background: #F8F9F9;

            .hero-content {
                height: 100%;
                position: relative;
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;


                .hero-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    // max-width: 900px;
                    // max-height: 350px;

                    margin-bottom: 30px;

                    h1 {
                        font-family: 'Inter';
                        font-size: 36px;
                        font-weight: 700;
                        line-height: 50px;
                        text-align: center;

                        span {

                            &.yellow {
                                color: #FFD84E;
                            }
                        }
                    }



                }

                .hero-description {
                    display: flex;
                    justify-content: center;


                    // max-width: 620px;
                    // max-height: 120px;

                    p {
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 32px;
                        text-align: center;

                    }
                }

                .hero-link {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;

                    animation: hero-link 3.5s linear infinite;

                    opacity: 60%;
                    

                    .hero-a {
                        display: none;
                    }

                    .hero-a-mob {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 400;
                        line-height: 12px;
                        font-size: 10px;
                        text-decoration: none;
                        color: #171717;
                        font-family: 'Inter';
                        writing-mode: vertical-rl;

                        margin-top: 50px;

                        position:absolute;
                        bottom: 20px;

                        .icon {
                            width: 8px;
                            height: 8px;

                            margin-left: 1.5px;

                            margin-top: 10px;
    
                            align-self: flex-end;
                            animation-duration: 3.5s;
                            animation-iteration-count: infinite;
                            background-color: black;
                            transform-origin: bottom;
                        }
    
                        .anim {
                            animation-name: anim;
                            animation-timing-function: linear;
                        }
                        
                        @keyframes anim {
                            0%   { transform: translateY(0); }
                            50%  { transform: translateY(+15px); }
                            100% { transform: translateY(0); }
                        }
                    }

                    @keyframes hero-link {
                        0% {
                            opacity: 1;
                        }

                        5% {
                            opacity: 0.9;
                        }

                        10% {
                            opacity: 0.8;
                        }

                        15% {
                            opacity: 0.7;
                        }

                        20% {
                            opacity: 0.6;
                        }

                        25% {
                            opacity: 0.5;
                        }

                        30% {
                            opacity: 0.4;
                        }

                        35% {
                            opacity: 0.3;
                        }

                        40% {
                            opacity: 0.2;
                        }

                        45% {
                            opacity: 0.1;
                        }

                        50% {
                            opacity: 0;
                        }

                        55% {
                            opacity: 0.1;
                        }

                        60% {
                            opacity: 0.2;
                        }

                        65% {
                            opacity: 0.3;
                        }

                        70% {
                            opacity: 0.4;
                        }

                        75% {
                            opacity: 0.5;
                        }

                        80% {
                            opacity: 0.6;
                        }

                        85% {
                            opacity: 0.7;
                        }

                        90% {
                            opacity: 0.8;
                        }

                        90% {
                            opacity: 0.9;
                        }

                        100% {
                            opacity: 1;
                        }
                    }

                }


            }

        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {

    .section.hero {

        .hero-block {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            background: #F8F9F9;

            .hero-content {
                height: 100%;
                position: relative;
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;


                .hero-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    // max-width: 900px;
                    // max-height: 350px;

                    margin-bottom: 30px;

                    h1 {
                        font-family: 'Inter';
                        font-size: 44px;
                        font-weight: 700;
                        line-height: 70px;
                        text-align: center;

                        span {

                            &.yellow {
                                color: #FFD84E;
                            }
                        }
                    }



                }

                .hero-description {
                    display: flex;
                    justify-content: center;


                    // max-width: 620px;
                    // max-height: 120px;

                    p {
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 44px;
                        text-align: center;

                    }
                }

                .hero-link {
                    display: flex;
                    justify-content: center;
                    // margin-top: 40px;

                    animation: hero-link 3.5s linear infinite;

                    opacity: 60%;
                    

                    .hero-a {
                        display: none;
                    }

                    .hero-a-mob {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 400;
                        line-height: 12px;
                        font-size: 10px;
                        text-decoration: none;
                        color: #171717;
                        font-family: 'Inter';
                        writing-mode: vertical-rl;

                        margin-top: 50px;

                        position:absolute;
                        bottom: 20px;

                        .icon {
                            width: 8px;
                            height: 8px;

                            margin-left: 1.5px;

                            margin-top: 10px;
    
                            align-self: flex-end;
                            animation-duration: 3.5s;
                            animation-iteration-count: infinite;
                            background-color: black;
                            transform-origin: bottom;
                        }
    
                        .anim {
                            animation-name: anim;
                            animation-timing-function: linear;
                        }
                        
                        @keyframes anim {
                            0%   { transform: translateY(0); }
                            50%  { transform: translateY(+15px); }
                            100% { transform: translateY(0); }
                        }
                    }

                    @keyframes hero-link {
                        0% {
                            opacity: 1;
                        }

                        5% {
                            opacity: 0.9;
                        }

                        10% {
                            opacity: 0.8;
                        }

                        15% {
                            opacity: 0.7;
                        }

                        20% {
                            opacity: 0.6;
                        }

                        25% {
                            opacity: 0.5;
                        }

                        30% {
                            opacity: 0.4;
                        }

                        35% {
                            opacity: 0.3;
                        }

                        40% {
                            opacity: 0.2;
                        }

                        45% {
                            opacity: 0.1;
                        }

                        50% {
                            opacity: 0;
                        }

                        55% {
                            opacity: 0.1;
                        }

                        60% {
                            opacity: 0.2;
                        }

                        65% {
                            opacity: 0.3;
                        }

                        70% {
                            opacity: 0.4;
                        }

                        75% {
                            opacity: 0.5;
                        }

                        80% {
                            opacity: 0.6;
                        }

                        85% {
                            opacity: 0.7;
                        }

                        90% {
                            opacity: 0.8;
                        }

                        90% {
                            opacity: 0.9;
                        }

                        100% {
                            opacity: 1;
                        }
                    }

                }


            }

        }
    }

}

@media screen and (min-width: 1024px) and (max-width: 1199.98px) {

    .section.hero {

        .hero-block {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
            background: #F8F9F9;

            .hero-content {
                height: 100%;
                position: relative;
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: center;


                .hero-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    // max-width: 900px;
                    // max-height: 350px;

                    margin-bottom: 30px;

                    h1 {
                        font-family: 'Inter';
                        font-size: 44px;
                        font-weight: 700;
                        line-height: 70px;
                        text-align: center;

                        span {

                            &.yellow {
                                color: #FFD84E;
                            }
                        }
                    }



                }

                .hero-description {
                    display: flex;
                    justify-content: center;


                    // max-width: 620px;
                    // max-height: 120px;

                    p {
                        font-family: 'Inter';
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 44px;
                        text-align: center;

                    }
                }

                .hero-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 70px;
    
                    opacity: 60%;
    
                    .hero-a-mob {
                        display: none;
                    }
    
                    .hero-a {
                        
    
                        display: flex;
                        align-items: center;
                        font-weight: 400;
                        line-height: 12px;
                        font-size: 10px;
                        text-decoration: none;
                        color: #171717;
                        font-family: 'Inter';
                        z-index: 1501;
                        writing-mode: vertical-rl;
                        animation: blink 4s infinite;
                        position: fixed;
                        top: 87vh;
                        height: 100%;
    
                        // background-color: black;
                        // filter: invert(100%);
    
                        .icon {
                            width: 8px;
                            height: 8px;
    
                            opacity: 60%;
                            margin-left: 1.5px;
    
                            margin-top: 10px;
    
                            align-self: flex-end;
                            animation-duration: 3s;
                            animation-iteration-count: infinite;
                            background-color: black;
                            transform-origin: bottom;
                        }
    
                        .anim {
                            animation-name: anim;
                            animation-timing-function: linear;
                        }
                        
                        @keyframes anim {
                            0%   { transform: translateY(0); }
                            50%  { transform: translateY(+15px); }
                            100% { transform: translateY(0); }
                        }
    
                    }
    
                    @keyframes blink {
                        0% {
                            opacity: 1;
                        }
    
                        5% {
                            opacity: 0.9;
                        }
    
                        10% {
                            opacity: 0.8;
                        }
    
                        15% {
                            opacity: 0.7;
                        }
    
                        20% {
                            opacity: 0.6;
                        }
    
                        25% {
                            opacity: 0.5;
                        }
    
                        30% {
                            opacity: 0.4;
                        }
    
                        35% {
                            opacity: 0.3;
                        }
    
                        40% {
                            opacity: 0.2;
                        }
    
                        45% {
                            opacity: 0.1;
                        }
    
                        50% {
                            opacity: 0;
                        }
    
                        55% {
                            opacity: 0.1;
                        }
    
                        60% {
                            opacity: 0.2;
                        }
    
                        65% {
                            opacity: 0.3;
                        }
    
                        70% {
                            opacity: 0.4;
                        }
    
                        75% {
                            opacity: 0.5;
                        }
    
                        80% {
                            opacity: 0.6;
                        }
    
                        85% {
                            opacity: 0.7;
                        }
    
                        90% {
                            opacity: 0.8;
                        }
    
                        90% {
                            opacity: 0.9;
                        }
    
                        100% {
                            opacity: 1;
                        }
                    }
    
                }


            }

        }
    }

}

@media screen and (min-width: 1200px) and (max-width: 1480.98px) {}

@media (min-width: 1481px) { }