.slider-block{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 80%;



      .slider-content{
            margin-top: 20px;

            
            .section-description{
                  margin-bottom: 30px;
                  display: flex;



                  .icon{
                        min-width: 22px;
                        min-height: 22px;
                        margin-right: 4px;
                        bottom: 10px;
                        float: left;
                        background: #FFD84E;
                  }
                  p{
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 400;
                        font-family: 'Open Sans';
                  
                  }
            }

            .section-feedback{
                  display: flex;
                  .img-block{
                        margin-right: 20px;
                        img{
                              width: 45px;
                              height: 45px;
                        }
                  }
                  .title-and-desc{
                        .title{
                              h3{
                                    font-size: 14px;
                                    line-height: 16px;
                                    font-weight: 600;
                                    font-family: 'gilroy';
                              }
                        }
                        .desc{
                              p{
                                    font-size: 12px;
                                    line-height: 14px;
                                    font-weight: 400;
                                    font-family: 'Open Sans';

                              }
                        }
                  }

            }

      }
}


@media screen and (min-width: 0px) and (max-width: 479px) { 

      .slider-block{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            .slider-content{
                  margin-top: 20px;

                  
                  .section-description{
                        margin-bottom: 30px;
                        display: flex;
                        position: relative;
      
                        &::before {
                              content: '';
                              position: absolute;
                        
                              top: 15px;
                              left: 15px;
                        
                              width: 45px;
                              height: 45px;
                        
                              background: #FFD84E;    
                        
                              mask: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.00347328 10.0971C0.00347328 10.0988 0.00328398 10.1006 0.00328398 10.1023C0.00328398 12.2058 1.70849 13.911 3.81202 13.911C5.91555 13.911 7.62073 12.2059 7.62073 10.1023C7.62073 7.99874 5.91537 6.29356 3.81199 6.29356C3.37968 6.29356 2.96586 6.36893 2.57865 6.5017C3.43555 1.58591 7.26895 -1.58427 3.71543 1.02486C-0.224916 3.91809 -0.000935555 9.98609 0.00347328 10.0971Z' fill='%23FFD84E' fill-opacity='0.38'/%3E%3Cpath d='M12.1913 6.29359C11.7589 6.29359 11.3451 6.36896 10.9577 6.50173C11.8149 1.58594 15.6483 -1.58424 12.0947 1.02488C8.15435 3.91808 8.3783 9.98609 8.38274 10.0971C8.38274 10.0988 8.38255 10.1006 8.38255 10.1023C8.38255 12.2058 10.0877 13.911 12.1913 13.911C14.2948 13.911 16 12.2059 16 10.1023C16 7.99874 14.2946 6.29359 12.1913 6.29359Z' fill='%23FFD84E' fill-opacity='0.38'/%3E%3C/svg%3E%0A");
                              mask-size: contain;
                              mask-position: center;
                              mask-repeat: no-repeat;
                        
                              transition: 0.2s ease;
                              z-index: 10001;
                        }
      
      
                        .icon{
                              min-width: 20px;
                              min-height: 20px;
                        }
                        p{
                              float: left;
                              font-size: 14px;
                              line-height: 20px;
                              font-weight: 400;
                              font-family: 'Open Sans';
                        
                        }
                  }
      
                  .section-feedback{
                        display: flex;
                        .img-block{
                              margin-right: 20px;
                              img{
                                    width: 35px;
                                    height: 35px;
                              }
                        }
                        .title-and-desc{
                              .title{
                                    h3{
                                          font-size: 14px;
                                          line-height: 16px;
                                          font-weight: 600;
                                          font-family: 'gilroy';
                                    }
                              }
                              .desc{
                                    p{
                                          font-size: 12px;
                                          line-height: 16px;
                                          font-weight: 400;
                                          font-family: 'Open Sans';
      
                                    }
                              }
                        }
      
                  }
      
            }
      }

}

@media screen and (min-width: 480px) and (max-width: 767px) { 

      .slider-block{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            .slider-content{
                  margin-top: 20px;
                  
                  .section-description{
                        margin-bottom: 30px;
                        display: flex;
                        position: relative;
      
                        &::before {
                              content: '';
                              position: absolute;
                        
                              top: 15px;
                              left: 15px;
                        
                              width: 45px;
                              height: 45px;
                        
                              background: #FFD84E;    
                        
                              mask: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.00347328 10.0971C0.00347328 10.0988 0.00328398 10.1006 0.00328398 10.1023C0.00328398 12.2058 1.70849 13.911 3.81202 13.911C5.91555 13.911 7.62073 12.2059 7.62073 10.1023C7.62073 7.99874 5.91537 6.29356 3.81199 6.29356C3.37968 6.29356 2.96586 6.36893 2.57865 6.5017C3.43555 1.58591 7.26895 -1.58427 3.71543 1.02486C-0.224916 3.91809 -0.000935555 9.98609 0.00347328 10.0971Z' fill='%23FFD84E' fill-opacity='0.38'/%3E%3Cpath d='M12.1913 6.29359C11.7589 6.29359 11.3451 6.36896 10.9577 6.50173C11.8149 1.58594 15.6483 -1.58424 12.0947 1.02488C8.15435 3.91808 8.3783 9.98609 8.38274 10.0971C8.38274 10.0988 8.38255 10.1006 8.38255 10.1023C8.38255 12.2058 10.0877 13.911 12.1913 13.911C14.2948 13.911 16 12.2059 16 10.1023C16 7.99874 14.2946 6.29359 12.1913 6.29359Z' fill='%23FFD84E' fill-opacity='0.38'/%3E%3C/svg%3E%0A");
                              mask-size: contain;
                              mask-position: center;
                              mask-repeat: no-repeat;
                        
                              transition: 0.2s ease;
                              z-index: 10001;
                        }
      
      
                        .icon{
                              min-width: 20px;
                              min-height: 20px;
                        }
                        p{
                              float: left;
                              font-size: 14px;
                              line-height: 20px;
                              font-weight: 400;
                              font-family: 'Open Sans';
                        
                        }
                  }
      
                  .section-feedback{
                        display: flex;
                        .img-block{
                              margin-right: 20px;
                              img{
                                    width: 35px;
                                    height: 35px;
                              }
                        }
                        .title-and-desc{
                              .title{
                                    h3{
                                          font-size: 14px;
                                          line-height: 16px;
                                          font-weight: 600;
                                          font-family: 'gilroy';
                                    }
                              }
                              .desc{
                                    p{
                                          font-size: 12px;
                                          line-height: 16px;
                                          font-weight: 400;
                                          font-family: 'Open Sans';
      
                                    }
                              }
                        }
      
                  }
      
            }
      }

}

@media screen and (min-width: 768px) and (max-width: 1023px) { 

      .slider-block{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 70%;
            .slider-content{
                  margin-top: 20px;

                  
                  .section-description{
                        margin-bottom: 20px;
                        display: flex;
                        position: relative;
      
                        &::before {
                              content: '';
                              position: absolute;
                        
                              top: 15px;
                              left: 15px;
                        
                              width: 45px;
                              height: 45px;
                        
                              background: #FFD84E;    
                        
                              mask: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.00347328 10.0971C0.00347328 10.0988 0.00328398 10.1006 0.00328398 10.1023C0.00328398 12.2058 1.70849 13.911 3.81202 13.911C5.91555 13.911 7.62073 12.2059 7.62073 10.1023C7.62073 7.99874 5.91537 6.29356 3.81199 6.29356C3.37968 6.29356 2.96586 6.36893 2.57865 6.5017C3.43555 1.58591 7.26895 -1.58427 3.71543 1.02486C-0.224916 3.91809 -0.000935555 9.98609 0.00347328 10.0971Z' fill='%23FFD84E' fill-opacity='0.38'/%3E%3Cpath d='M12.1913 6.29359C11.7589 6.29359 11.3451 6.36896 10.9577 6.50173C11.8149 1.58594 15.6483 -1.58424 12.0947 1.02488C8.15435 3.91808 8.3783 9.98609 8.38274 10.0971C8.38274 10.0988 8.38255 10.1006 8.38255 10.1023C8.38255 12.2058 10.0877 13.911 12.1913 13.911C14.2948 13.911 16 12.2059 16 10.1023C16 7.99874 14.2946 6.29359 12.1913 6.29359Z' fill='%23FFD84E' fill-opacity='0.38'/%3E%3C/svg%3E%0A");
                              mask-size: contain;
                              mask-position: center;
                              mask-repeat: no-repeat;
                        
                              transition: 0.2s ease;
                              z-index: 10001;
                        }
      
      
                        .icon{
                              min-width: 20px;
                              min-height: 20px;
                        }
                        p{
                              float: left;
                              font-size: 10px;
                              line-height: 14px;
                              font-weight: 400;
                              font-family: 'Open Sans';
                        
                        }
                  }
      
                  .section-feedback{
                        display: flex;
                        .img-block{
                              margin-right: 10px;
                              img{
                                    width: 45px;
                                    height: 45px;
                              }
                        }
                        .title-and-desc{
                              .title{
                                    h3{
                                          font-size: 12px;
                                          line-height: 10px;
                                          font-weight: 600;
                                          font-family: 'gilroy';
                                    }
                              }
                              .desc{
                                    p{
                                          font-size: 8px;
                                          line-height: 8px;
                                          font-weight: 400;
                                          font-family: 'Open Sans';
      
                                    }
                              }
                        }
      
                  }
      
            }
      }

}

@media screen and (min-width: 1024px) and (max-width: 1199px) { 

      .slider-block{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 90%;
            .slider-content{
                  margin-top: 20px;
                  .section-title{
                        margin-bottom: 10px;
                        h1{
                              font-size: 32px;
                              line-height: 38px;
                              font-weight: 900;
                              font-family: 'gilroy';
                              .yellow{
                                    color: #FFD84E;;
                              }
                        }
                  }
                  
                  .section-description{
                        margin-bottom: 20px;
                        display: flex;
                        position: relative;
      
                        &::before {
                              content: '';
                              position: absolute;
                        
                              top: 15px;
                              left: 15px;
                        
                              width: 45px;
                              height: 45px;
                        
                              background: #FFD84E;    
                        
                              mask: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.00347328 10.0971C0.00347328 10.0988 0.00328398 10.1006 0.00328398 10.1023C0.00328398 12.2058 1.70849 13.911 3.81202 13.911C5.91555 13.911 7.62073 12.2059 7.62073 10.1023C7.62073 7.99874 5.91537 6.29356 3.81199 6.29356C3.37968 6.29356 2.96586 6.36893 2.57865 6.5017C3.43555 1.58591 7.26895 -1.58427 3.71543 1.02486C-0.224916 3.91809 -0.000935555 9.98609 0.00347328 10.0971Z' fill='%23FFD84E' fill-opacity='0.38'/%3E%3Cpath d='M12.1913 6.29359C11.7589 6.29359 11.3451 6.36896 10.9577 6.50173C11.8149 1.58594 15.6483 -1.58424 12.0947 1.02488C8.15435 3.91808 8.3783 9.98609 8.38274 10.0971C8.38274 10.0988 8.38255 10.1006 8.38255 10.1023C8.38255 12.2058 10.0877 13.911 12.1913 13.911C14.2948 13.911 16 12.2059 16 10.1023C16 7.99874 14.2946 6.29359 12.1913 6.29359Z' fill='%23FFD84E' fill-opacity='0.38'/%3E%3C/svg%3E%0A");
                              mask-size: contain;
                              mask-position: center;
                              mask-repeat: no-repeat;
                        
                              transition: 0.2s ease;
                              z-index: 10001;
                        }
      
      
                        .icon{
                              min-width: 20px;
                              min-height: 20px;
                        }
                        p{
                              float: left;
                              font-size: 10px;
                              line-height: 14px;
                              font-weight: 400;
                              font-family: 'Open Sans';
                        
                        }
                  }
      
                  .section-feedback{
                        display: flex;
                        .img-block{
                              margin-right: 10px;
                              img{
                                    width: 45px;
                                    height: 45px;
                              }
                        }
                        .title-and-desc{
                              .title{
                                    h3{
                                          font-size: 12px;
                                          line-height: 10px;
                                          font-weight: 600;
                                          font-family: 'gilroy';
                                    }
                              }
                              .desc{
                                    p{
                                          font-size: 8px;
                                          line-height: 8px;
                                          font-weight: 400;
                                          font-family: 'Open Sans';
      
                                    }
                              }
                        }
      
                  }
      
            }
      }

}

@media screen and (min-width: 1200px) and (max-width: 1480px) { 



}


