.feedback{
      padding-bottom: 50px;
      .feedback-img-block{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                  width: 75%;
                  height: 75%;
            }
      }

      .main-title{
            margin-bottom: 10px;
            h1{
                  font-size: 62px;
                  line-height: 74px;
                  font-weight: 900;
                  font-family: 'gilroy';
                  .yellow{
                        color: #FFD84E;;
                  }
            }
      }
}

@media screen and (min-width: 0px) and (max-width: 479px) { 

      .feedback{
            padding-bottom: 50px;
            .feedback-img-block{
                  display: none;
            }

            .main-title{
                  margin-bottom: 10px;
                  h1{
                        font-size: 32px;
                        line-height: 38px;
                        font-weight: 900;
                        font-family: 'gilroy';
                        .yellow{
                              color: #FFD84E;;
                        }
                  }
            }
      }

}

@media screen and (min-width: 480px) and (max-width: 767px) { 

      .feedback{
            padding-bottom: 50px;
            .feedback-img-block{
                  display: none;
            }

            .main-title{
                  margin-bottom: 10px;
                  h1{
                        font-size: 32px;
                        line-height: 38px;
                        font-weight: 900;
                        font-family: 'gilroy';
                        .yellow{
                              color: #FFD84E;;
                        }
                  }
            }
      }

}

@media screen and (min-width: 768px) and (max-width: 1023px) { 

      .feedback{
            padding-bottom: 50px;
            .feedback-img-block{
                  display: none;
            }

            .main-title{
                  margin-bottom: 10px;
                  h1{
                        font-size: 32px;
                        line-height: 38px;
                        font-weight: 900;
                        font-family: 'gilroy';
                        .yellow{
                              color: #FFD84E;;
                        }
                  }
            }
      }

}

@media screen and (min-width: 1024px) and (max-width: 1199px) { 

      .feedback{
            padding-bottom: 50px;
            .feedback-img-block{
                  display: none;
            }

            .main-title{
                  margin-bottom: 10px;
                  h1{
                        font-size: 32px;
                        line-height: 38px;
                        font-weight: 900;
                        font-family: 'gilroy';
                        .yellow{
                              color: #FFD84E;;
                        }
                  }
            }
      }

}

@media screen and (min-width: 1200px) and (max-width: 1480px) { 



}