* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body,
main {


  font-size: 18px;
  line-height: 1.5;

  font-weight: 400;
  color: black;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  background: #F8F9F9;
  height: 100%;
  z-index: 1300 !important;
}


////////////////////////////////////////

.section {

  .hero {
    height: 100%;
  }

}

////////////////////////////////////////

button.button {
  display: inline-block;

  width: 245px;
  height: 56px;
  border: 1px solid #FFD84E;
  border-radius: 32px;
  background: #FFD84E;
  color: #171717;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 135%;
  font-weight: 400;

  a {
    text-decoration: none;
  }

  &:hover {
    border: 1px solid black;
    color: #5D5D5D;
    background: white;
  }

  transition: 0.2s ease;

  &.with-arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }


    .icon {
      width: 18px;
      height: 18px;

      margin-left: 10px;

      transition: 0.2s ease;
      background-color: rgba(23, 23, 23, 0.3);
    }

    &:hover {

      .icon {
        background: black;
        transform: translateX(3px);
      }
    }
  }

}

//////////////////////////////////

@media screen and (min-width: 320px) and (max-width: 479.98px) {

  button.button {
    display: inline-block;

    width: 245px;
    height: 56px;
    border: 1px solid #FFD84E;
    background-color: #FFD84E;
    border-radius: 32px;
    color: #171717;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 135%;
    font-weight: 400;

    a {
      text-decoration: none;
    }

    &:hover {
      border: 1px solid #5D5D5D;
      background-color: white;
      // filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
      color: black;
    }

    transition: 0.2s ease;

    &.with-arrow {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
      }


      .icon {
        width: 18px;
        height: 18px;

        margin-left: 10px;

        transition: 0.2s ease;
        background-color: rgba(23, 23, 23, 0.3);
      }

      &:hover {

        .icon {
          background: black;
          transform: translateX(3px);
        }
      }
    }

  }

}

@media screen and (min-width: 480px) and (max-width: 767.98px) {

  button.button {
    display: inline-block;

    width: 245px;
    height: 56px;
    border: 1px solid #FFD84E;
    background-color: #FFD84E;
    border-radius: 32px;
    color: #171717;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 135%;
    font-weight: 400;

    a {
      text-decoration: none;
    }

    &:hover {
      border: 1px solid #5D5D5D;
      background-color: white;
      // filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
      color: black;
    }

    transition: 0.2s ease;

    &.with-arrow {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
      }


      .icon {
        width: 18px;
        height: 18px;

        margin-left: 10px;

        transition: 0.2s ease;
        background-color: rgba(23, 23, 23, 0.3);
      }

      &:hover {

        .icon {
          background: black;
          transform: translateX(3px);
        }
      }
    }

  }

}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {

  button.button {
    display: inline-block;

    width: 245px;
    height: 56px;
    border: 1px solid #FFD84E;
    background-color: #FFD84E;
    border-radius: 32px;
    color: #171717;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 135%;
    font-weight: 400;

    a {
      text-decoration: none;
    }

    &:hover {
      border: 1px solid #5D5D5D;
      background-color: white;
      // filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
      color: black;
    }

    transition: 0.2s ease;

    &.with-arrow {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
      }


      .icon {
        width: 18px;
        height: 18px;

        margin-left: 10px;

        transition: 0.2s ease;
        background-color: rgba(23, 23, 23, 0.3);
      }

      &:hover {

        .icon {
          background: black;
          transform: translateX(3px);
        }
      }
    }

  }

}

@media screen and (min-width: 1024px) and (max-width: 1199.98px) {}

@media screen and (min-width: 1200px) and (max-width: 1480.98px) {}

@media (min-width: 1481px) {}